/* Variables */
:root {
    --gradient-1: #000000;
    --gradient-2: #092853;
    --gradient-3: #1f607b;
    --gradient-4: #4cb2b9;
    --orange: #ff7d25;
    --white: #ffffff;
}

/* Meta */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(167deg, var(--gradient-1) 0%, var(--gradient-2) 48%, var(--gradient-3) 77%, var(--gradient-4) 98%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    font-size: 20px !important;
    width: 100vw;
    height: 100vh;
    color: white;
}

h1 {
    margin: 20px 0;
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}

/* Gameboard */
.text,
.field {
    width: 400px;
}

.field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 400px;
}

.square {
    width: auto;
    height: auto;
    background: black;
}

.square:hover {
    cursor: pointer;
}

.O,
.X {
    background-size: cover;
}

.O {
    background-image: url("anglerfish.png");
}

.X {
    background-image: url("hearthian.png");
}

/* Buttons */
button {
    margin: 0 20px 20px;
    padding: 5px 25px;
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(104, 164, 179, 0.3);
    color: white;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.1);
    transition: all 0.8s;
}

button:hover {
    background-color: rgb(104, 164, 179, 0.7);
    cursor: pointer;
    box-shadow: 10px 10px rgba(255, 255, 255, 0.1);
}