/* Variables */
:root {
    --gradient-1: #000000;
    --gradient-2: #092853;
    --gradient-3: #1f607b;
    --gradient-4: #4cb2b9;
    --orange: #ff7d25;
    --white: #ffffff;
}

/* Meta */
body {
    background: rgb(0,0,0);
    background: linear-gradient(167deg, var(--gradient-1) 0%, var(--gradient-2) 48%, var(--gradient-3) 77%, var(--gradient-4) 98%);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    font-size: 20px !important;
    width: 100vw;
    height: 95vh;
    color: white;
}

h1 {
    margin: 20px 0;
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}

/* Gameboard */
.text,
.field {
    width: 400px;
}

.field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 400px;
}

.square {
    width: auto;
    height: auto;
    background: black;
}

.square:hover {
    cursor: pointer;
}

.O,
.X {
    background-size: cover;
}

.O {
    background-image: url("anglerfish.png");
}

.X {
    background-image: url("hearthian.png");
}

/* Buttons */
button {
    margin: 0 20px 20px;
    padding: 5px 25px;
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(104, 164, 179, 0.3);
    color: white;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.1);
    transition: all 0.8s;
}

button:hover {
    background-color: rgb(104, 164, 179, 0.7);
    cursor: pointer;
    box-shadow: 10px 10px rgba(255, 255, 255, 0.1);
}

/* Input */
input,
footer {
    font-family: 'Urbanist', sans-serif;
}

.form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.form * {
    margin: 10px 10px 20px;
}

/* Footer */
footer {
    display: absolute;
    height: 5vh;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    color: white;
}

a:hover {
    background-position: bottom 1px left 0;
    background-size: 100% 2px;
    color: rgb(255, 189, 119);
}

a:active {
    color: rgb(255, 189, 119);
}

a {
    background: rgb(187,84,26);
    background: linear-gradient(167deg, rgba(187,84,26,1) 0%, rgba(245,144,38,1) 57%, rgba(255,255,255,0.9) 98%);
    background-repeat: no-repeat;
    background-size: 0% 0px;
    padding-bottom: 3px;
    transition: background-size .2s, background-position .15s, color .5s;
    font-weight: 700 !important;
    text-decoration: none;
    color: rgb(245,144,38);
}